GOOGLE_CLIENT_ID=XXXXX
GOOGLE_SECRET=XXXXXX
GOOGLE_CALLBACK_URL=XXXXXX
COOKIE_SESSION_SECRET=XXXXXX
COOKIE_SESSION_MAX_AGE=2592000000
ENFORCE_SSL=false
WHITELIST_DOMAINS=[""]
ROOMS_SOURCE=ENVIRONMENT
PORT=80
